{
  "New-AzWvdMsixPackage+[NoContext]+PackageAlias+$DELETE+https://management.azure.com/subscriptions/20a9996a-0715-492e-8ac8-d51dada0174a/resourcegroups/datr-canadaeast/providers/Microsoft.DesktopVirtualization/hostPools/datr-hp2/msixPackages/MsixPackage_1.0.0.0_neutral__zf7zaz2wb1ayy?api-version=2021-09-03-preview+1": {
    "Request": {
      "Method": "DELETE",
      "RequestUri": "https://management.azure.com/subscriptions/20a9996a-0715-492e-8ac8-d51dada0174a/resourcegroups/datr-canadaeast/providers/Microsoft.DesktopVirtualization/hostPools/datr-hp2/msixPackages/MsixPackage_1.0.0.0_neutral__zf7zaz2wb1ayy?api-version=2021-09-03-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "35" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 404,
      "Headers": {
        "x-ms-failure-cause": [ "gateway" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"error\":{\"code\":\"ResourceGroupNotFound\",\"message\":\"Resource group \u0027datr-canadaeast\u0027 could not be found.\"}}",
    }
  }
}